@charset utf-8;

body {
  text-align: center;
}
#displayed {
  text-align: left;
  width: 500pt;
  padding: 16pt;
  background-color: #eeeeee;
  border-width: 2pt;
  border-color: #111111;
  border-style: dotted;
  margin-left: auto;
  margin-right: auto;
}
.charbox {
  color: #111111;
  font-size: 200%;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  background-color: #aaaaff;
  border-width: 1pt;
  border-color: #4444ff;
  border-style: solid;
}

.cursor {
  color: #ff4444;
  font-size: 200%;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 2pt;
  padding-right: 2pt;
  border-width: 0pt;
}