body {
    font-family: 'Segoe UI', sans-serif;
}

.root-box {
  color: #111111;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20pt;
  padding-top: 8pt;
  padding-bottom: 8pt;
  padding-left: 8pt;
  padding-right: 8pt;
  background-color: #eeeeee;
  border-width: 1pt;
  border-color: #111111;
  border-style: dotted;
  margin-top: 4pt;
  margin-bottom: 4pt;
  margin-left: auto;
  margin-right: auto;
}

.status-box {
  color: #111111;
  font-family: 'Consolas';
  font-size: 10pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
  padding-left: 8pt;
  padding-right: 8pt;
  background-color: #ffffaa;
  margin-top: 4pt;
  margin-bottom: 4pt;
  margin-left: auto;
  margin-right: auto;
}

