@charset "UTF-8";

div.box-of-tree {
  display: inline-block;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 2pt;
  padding-right: 2pt;
  background-color: #ccccff;
  border-width: 1pt;
  border-color: #aaaaff;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 2pt;
  margin-right: 2pt;
}

div.target-of-tree {
  display: inline-block;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 2pt;
  padding-right: 2pt;
  background-color: #ffcccc;
  border-width: 2pt;
  border-right: 4pt;
  border-color: #ff4444;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 2pt;
  margin-right: 2pt;
}

div.target-of-tree-exchange {
  display: inline-block;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 2pt;
  padding-right: 2pt;
  background-color: #ffcc88;
  border-width: 2pt;
  border-right: 4pt;
  border-color: #dd4400;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 2pt;
  margin-right: 2pt;
}

div.target-of-tree-insert-left {
  display: inline-block;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 2pt;
  padding-right: 2pt;
  background-color: #88dd88;
  border-width: 2pt;
  border-right: 4pt;
  border-color: #00aa00;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 2pt;
  margin-right: 2pt;
}

.empty-box-of-tree {
  display: inline-block;
  color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  background-color: #ffffff;
  border-width: 1pt;
  border-color: #8888ff;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 2pt;
  margin-right: 2pt;
}

.empty-target-of-tree {
  display: inline-block;
  color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  background-color: #ffffff;
  border-width: 2pt;
  border-color: #ff4444;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 2pt;
  margin-right: 2pt;
}

.empty-target-of-tree-exchange {
  display: inline-block;
  color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  background-color: #ffffff;
  border-width: 2pt;
  border-color: #dd4400;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 2pt;
  margin-right: 2pt;
}

.empty-target-of-tree-insert-left {
  display: inline-block;
  color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  background-color: #ffffff;
  border-width: 2pt;
  border-color: #00aa00;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 2pt;
  margin-right: 2pt;
}

.sequence {
  color: #111111;
  font-family: 'Consolas';
  font-size: 12pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  background-color: #ffffaa;
  border-width: 0pt;
}

.math_italic {
  font-style: italic;
}