@charset "UTF-8";

div.box-of-tree {
  display: inline-block;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 2pt;
  padding-right: 2pt;
  background-color: #ccccff;
  border-width: 1pt;
  border-color: #aaaaff;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 1pt;
  margin-right: 1pt;
}

div.target-of-tree {
  display: inline-block;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 2pt;
  padding-right: 2pt;
  background-color: #ffcccc;
  border-width: 2pt;
  border-right: 4pt;
  border-color: #ff4444;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 1pt;
  margin-right: 1pt;
}

div.target-of-tree-exchange {
  display: inline-block;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 2pt;
  padding-right: 2pt;
  background-color: #ffcc88;
  border-width: 2pt;
  border-right: 4pt;
  border-color: #dd4400;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 1pt;
  margin-right: 1pt;
}

div.target-of-tree-insert-left {
  display: inline-block;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 2pt;
  padding-right: 2pt;
  background-color: #88dd88;
  border-width: 2pt;
  border-right: 4pt;
  border-color: #00aa00;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 1pt;
  margin-right: 1pt;
}

.empty-box-of-tree {
  display: inline-block;
  color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  background-color: #ffffff;
  border-width: 1pt;
  border-color: #8888ff;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 1pt;
  margin-right: 1pt;
}

.empty-target-of-tree {
  display: inline-block;
  color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  background-color: #ffffff;
  border-width: 2pt;
  border-color: #ff4444;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 1pt;
  margin-right: 1pt;
}

.empty-target-of-tree-exchange {
  display: inline-block;
  color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  background-color: #ffffff;
  border-width: 2pt;
  border-color: #dd4400;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 1pt;
  margin-right: 1pt;
}

.empty-target-of-tree-insert-left {
  display: inline-block;
  color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  background-color: #ffffff;
  border-width: 2pt;
  border-color: #00aa00;
  border-style: solid;
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-left: 1pt;
  margin-right: 1pt;
}

div.box-plain {
  display: inline-block;
  padding: 0pt;
  background-color: none;
  border-width: 0pt;
  margin: 0.5pt;
}

.empty-box-plain {
  display: inline-block;
  color: #ffffff;
  padding: 0pt;
  background-color: #ffffff;
  border-width: 1pt;
  border-color: #444444;
  margin: 0pt;
}

.sequence {
  display: inline-block;
  color: #111111;
  font-family: 'Consolas';
  font-size: 12pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  background-color: #ffffaa;
  border-width: 0pt;
}

.math-italic {
  font-style: italic;
}

div.fraction {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

hr.fraction-line {
  color: #111111;
  padding: 0pt;
  margin: 0pt;
  border-width: 1pt;
  border-style: solid;
}

div.square-root {
  display: inline-block;
  padding: 0pt;
  margin: 0pt;
  border-width: 0pt;
  border-top: 2pt;
  border-color: #111111;
  border-style: solid;
}

div.mandatory-paren {
  display: inline-block;
  padding: 0pt;
  margin: 0pt;
  border-width: 0pt;
}

img { vertical-align: top; }
